.product-inner-box .icons{
    right: 15px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    top: -3%;
    transition: all 0.2s ease-in-out, transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    opacity: 0;

}
.product-inner-box .icons a {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 70%;
    background: white;

}

.product-inner-box img{
    box-shadow: 0 33px 61px 10px rgb(0 0 0 / 40%);
    object-fit: cover;
    width: 400px;
    height: 400px;
}
.product-box.is-hover .icons{
    transform: rotateY('-3%');
    top: 3%;
    opacity: 1;
}
.cart-btn{
    position: absolute;
    bottom: 70px;
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: all 0.2s ease-in-out, transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}   
.product-box.is-hover .cart-btn{
    opacity: 1;

} 

h1{
    font-family: 'Allura';font-size: 120px;
    color: rgb(130, 128, 128);
}
body{
    background-color: rgb(218, 216, 214);
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure body expands to full height of viewport */
}
h2{
    
    color: rgb(70, 101, 77);
}

.carousel-inner video {
    max-height: 500px; /* Maximum video height */
    width: 100%; /* Responsive width */
    object-fit: cover; /* Cover the container without losing aspect ratio */
    margin-top: 10px;
    
}

footer {
    margin-top: auto; /* Push the footer to the bottom */
    width: 100%;
    position: relative;
    bottom: 0;
    


  }



